@model UserDetailsViewModel

@{
    ViewBag.Title = "Delete User";
    Layout = "_Layout";
}

<h2>Delete User</h2>

<p>Are you sure you want to delete this user?</p>

<form asp-action="Delete" asp-controller="Users" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>