@model Forum.Application.Dto.UpdateTopicDto?

@{
    ViewBag.Title = "Edit Topic";
    Layout = "_Layout";
}

<h2>Edit Topic</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Subject" class="control-label"></label>
        <input asp-for="Subject" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label"></label>
        <input asp-for="Status" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Likes" class="control-label"></label>
        <input asp-for="Likes" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="CreatorId" class="control-label"></label>
        <input asp-for="CreatorId" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>